.primary {
    color: gray;
    padding-top: 140px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.largeText {
    font-size: 45px;
}


.border {
    border-color: tan;
    
}

.errors {
        color: black;
        padding-top: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;  
        font-size: 20px;
}

