.primary {
    color: gray;
    padding-top: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


.smallText {
    color: gray;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.largeText {
    color: gray;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.border {
    border-color: tan;
    
}

.errors {
        color: black;
        padding-top: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;  
        font-size: 20px;
}

